<!DOCTYPE html>
<html>
  <head>
    <title>document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>İp Adresiniz:  <%= ip %></p>
    <p>Portunuz:   <%= port %></p>
  </body>
</html>
